<!DOCTYPE html>
<html>

<head>
    <title>Admin Page</title>
    <%- include('layout/head') %>

</head>

<body>

    <nav>
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-4">.col-md-4</div>
            <div class="col-md-8">
                <form role="form">
                    <div class="form-group">
                        <label>Page Title</label>
                        <input class="form-control">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                        <label>section item 1</label>
                        <input class="form-control">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                        <label>section item 2</label>
                        <input class="form-control">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                        <label>section item 3</label>
                        <input class="form-control">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                        <label>section item 4</label>
                        <input class="form-control">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                        <label>section item 5</label>
                        <input class="form-control">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                        <label>welcome image</label>
                        <input type="file">
                    </div>
                    <div class="form-group">
                        <label>welcome message</label>
                        <input class="form-control">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                        <label>section item 2 header</label>
                        <input class="form-control">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                        <label>section 2 image</label>
                        <input type="file">
                    </div>
                    <div class="form-group">
                        <label>section 2 subtext</label>
                        <input class="form-control">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                            <label>section 2 summary</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    <div class="form-group">
                        <label>section 3 header</label>
                        <input class="form-control">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                        <label>section 3 item 1</label>
                        <input class="form-control">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                        <label>section 3 item 2</label>
                        <input class="form-control">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                        <label>section 3 item 3</label>
                        <input class="form-control">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                        <label>section 3 item 4</label>
                        <input class="form-control">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                        <label>section 3 item 5</label>
                        <input class="form-control">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                        <label>section 3 item 6</label>
                        <input class="form-control">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                            <label>section 4 header</label>
                            <input class="form-control">
                            <p class="help-block">Example block-level help text here.</p>
                        </div>
                    <div class="form-group">
                        <label>section 4 image 1</label>
                        <input type="file">
                    </div>
                    <div class="form-group">
                            <label>section 4 item 1 header</label>
                            <input class="form-control">
                            <p class="help-block">Example block-level help text here.</p>
                        </div>
                    <div class="form-group">
                        <label>section 4 item 1 description</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                            <label>section 4 image 2</label>
                            <input type="file">
                        </div>
                        <div class="form-group">
                                <label>section 4 item 2 header</label>
                                <input class="form-control">
                                <p class="help-block">Example block-level help text here.</p>
                            </div>
                        <div class="form-group">
                            <label>section 4 item 2 description</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                                <label>section 4 image 3</label>
                                <input type="file">
                            </div>
                            <div class="form-group">
                                    <label>section 4 item 3 header</label>
                                    <input class="form-control">
                                    <p class="help-block">Example block-level help text here.</p>
                                </div>
                            <div class="form-group">
                                <label>section 4 item 3 description</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                    <label>section 4 image 4</label>
                                    <input type="file">
                                </div>
                                <div class="form-group">
                                        <label>section 4 item 4 header</label>
                                        <input class="form-control">
                                        <p class="help-block">Example block-level help text here.</p>
                                    </div>
                                <div class="form-group">
                                    <label>section 4 item 4 description</label>
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                        <label>section 4 image 5</label>
                                        <input type="file">
                                    </div>
                                    <div class="form-group">
                                            <label>section 4 item 5 header</label>
                                            <input class="form-control">
                                            <p class="help-block">Example block-level help text here.</p>
                                        </div>
                                    <div class="form-group">
                                        <label>section 4 item 5 description</label>
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                            <label>section 4 image 6</label>
                                            <input type="file">
                                        </div>
                                        <div class="form-group">
                                                <label>section 4 item 6 header</label>
                                                <input class="form-control">
                                                <p class="help-block">Example block-level help text here.</p>
                                            </div>
                                        <div class="form-group">
                                            <label>section 4 item 6 description</label>
                                            <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                                <label>section 5 header</label>
                                                <input class="form-control">
                                                <p class="help-block">Example block-level help text here.</p>
                                            </div>


                    <button type="submit" class="btn btn-default">Submit Button</button>
                    <button type="reset" class="btn btn-default">Reset Button</button>
                </form>
            </div>
        </div>
    </div>

    <%- include('layout/footer') %>

</body>

</html>