<!DOCTYPE html>
<html>

<head>
    <title>Zara Huang</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link href="styles/reset.css" rel="stylesheet" type="text/css" />
    <link href="styles/plugins.css" rel="stylesheet" type="text/css" />
    <link href="styles/base.css" rel="stylesheet" type="text/css" />
    <link href="styles/module.css" rel="stylesheet" type="text/css" />
    <link href="styles/layout.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico"/>


</head>

<body>

    <!-- =====================================
    	==== Start Loading -->

    <div class="loading">
        <div class="text-center middle">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <!-- End Loading ====
            ======================================= -->


    <!-- =====================================
            ==== Start Navbar -->

    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <!-- Logo -->
            <a class="logo" href="#">
                Zara H.
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"><i class="fas fa-bars"></i></span>
            </button>

            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" data-scroll-nav="0">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="1">Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="2">Passion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="3">Love</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="4">Connect</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- End Navbar ====
        ======================================= -->

    <header class="header valign bg-img" data-scroll-index="0" data-overlay-dark="6" data-background="\styles/image/jumbo-3.jpg"
        data-stellar-background-ratio="0.5">

        <div class="svg">
            <svg x="0px" y="0px" viewBox="0 186.5 1920 113.5">
                <polygon points="-30,300 355.167,210.5 1432.5,290 1920,198.5 1920,300"></polygon>
            </svg>
        </div>

        <div class="container">
            <div class="row">
                <div class="full-width text-left caption mt-30">
                    <h1 class="cd-headline clip">
                        <!-- <span>Hello,</span> -->
                        <span class="cd-words-wrapper">
                            <b class="is-visible">Hello, I am Zara!</b>
                            <b>PR & Communications Professional</b>
                        </span>
                    </h1>
                </div>
            </div>
            <div class="list-unstyled list-social social-sizing">
                <span><a href="https://www.linkedin.com/in/zarahhuang/"><i class="fab fa-linkedin"></i></a></span>
                <span><a href="https://twitter.com/ZaraHHuang"><i class="fab fa-twitter"></i></a></span>
            </div>
        </div>


    </header>

    <!-- End Header ====
    	======================================= -->

    <!-- =====================================
        ==== Start Hero -->

    <section class="hero section-padding" data-scroll-index="1">
        <div class="container">
            <div class="row">

                <div class="col-md-5">
                    <img class="img-zara" src="\styles/image/zara-3.jpg" alt="Zara Huang">
                </div>

                <div class="col-lg-7">
                    <div class="content">
                        <h4 class="head-me">Meet Zara</h4>
                        <span style="text-transform: none; font-weight:bolder;">High Energy & Proactive Adventurist!</span>
                        <p>I am a curious observer, strategic planner, and agile collaborator. I am a very detail-oriented person, who is exceptionally organized and good at managing various projects. I have excellent communication skills (bilingual in English and Mandarin Chinese) and a strong ability to work well under high pressure and fast-growing work environment.</p>
                        <p>Born in Taiwan and based in Seattle, I am currently working for a blockchain startup as the Global Public Relations Manager. I am establishing global strategy and leading the public relations and event teams to build company’s reputation and support blockchain community. Recently, I’ve also became a mom of a fluffy mini Goldendoodle, Toto. <i class="far fa-smile"></i> 
                        </p>
                        <p>With a strong believe in life is a continuous learning journey, please feel free to connect me if you would like to talk about blockchain, women in tech, or your fluffy buddy. Let’s learn together! 
                        </p>



                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="se-tring se-tring-gray">
            <span class="left"></span>
            <span class="right"></span>
        </div>
    </section>

    <!-- End Hero ====
            ======================================= -->


    <!-- =====================================
            ==== Start Services -->

    <section class="services section-padding bg-gray" data-scroll-index="2">
        <div class="container">
            <div class="row">

                <div class="section-head text-center col-sm-12">
                    <h4>How I Can Help</h4>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <span class="icon"><i class="icon-laptop"></i></span>
                        <h6>Public Relations</h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <span class="icon"><i class="icon-briefcase"></i></span>
                        <h6>Strategic Communications</h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <span class="icon"><i class="icon-circle-compass"></i></span>
                        <h6>Event Management</h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <span class="icon"><i class="icon-layers"></i></span>
                        <h6>Crisis Management</h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <span class="icon"><i class="icon-mobile"></i></span>
                        <h6>Digital Marketing</h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <span class="icon"><i class="icon-megaphone"></i></span>
                        <h6>Community Development</h6>
                    </div>
                </div>

            </div>
        </div>
        <div class="se-tring se-tring-rev">
            <span class="left"></span>
            <span class="right"></span>
        </div>
    </section>

    <!-- End Services ====
            ======================================= -->


    <!-- =====================================
            ==== Start Portfolio -->

    <section class="portfolio section-padding" data-scroll-index="3">
        <div class="container">
            <div class="row">

                <div class="section-head text-center col-sm-12">
                    <h4>What I Do in My Leisure Time</h4>
                </div>



                <!-- gallery -->
                <div class="gallery text-center full-width">

                    <!-- gallery item -->
                    <div class="col-md-6 col-lg-4 items graphic">
                        <div class="item-img">
                            <img class="work-images" src="\styles/image/work-1.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info full-width vertical-center">
                                    <h6>Women in Cloud Summit</h6>
                                    <p class="work-inner-margin">Volunteer for annual Women in Cloud Summit to celebrate female entrepreneurship in the tech world</p>
                                </div>
                                <a href="\styles/image/work-1.jpg" class="popimg">
                                    <i class="fas fa-images"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-md-6 col-lg-4 items web">
                        <div class="item-img">
                            <img class="work-images" src="\styles/image/work-2.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info full-width vertical-center">
                                    <h6>Blockchain Seattle Events</h6>
                                    <p class="work-inner-margin">Collaborate with businesses and organizations to host regular Blockchain Seattle meetups to drive blockchain education and build the community</p>
                                </div>
                                <a href="\styles/image/work-2.jpg" class="popimg">
                                    <i class="fas fa-images"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-md-6 col-lg-4 items brand">
                        <div class="item-img">
                            <img class="work-images" src="\styles/image/work-3.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info full-width vertical-center">
                                    <h6>Taiwan x Seattle Meetup</h6>
                                    <p class="work-inner-margin">Organize meetups for the Taiwanese living in Seattle community to connect and help each other personally and professionally</p>
                                </div>
                                <a href="\styles/image/work-3.jpg" class="popimg">
                                    <i class="fas fa-images"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-md-6 col-lg-4 items graphic">
                        <div class="item-img">
                            <img class="work-images" src="\styles/image/work-7.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info full-width vertical-center">
                                    <h6>Charity Fundraisers</h6>
                                    <p class="work-inner-margin">Host various fundraisers for Global-MBA program of NTU to support local orphanages through English teaching and holiday gifts giving</p>
                                </div>
                                <a href="\styles/image/work-7.jpg" class="popimg">
                                    <i class="fas fa-images"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-md-6 col-lg-4 items web">
                        <div class="item-img">
                            <img class="work-images" src="\styles/image/work-4.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info full-width vertical-center">
                                    <h6>GMBA Unity Ball</h6>
                                    <p class="work-inner-margin">Establish global sponsorship program to support the annual GMBA Unity Ball for professional growth and business networking</p>
                                </div>
                                <a href="\styles/image/work-4.jpg" class="popimg">
                                    <i class="fas fa-images"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-md-6 col-lg-4 items brand">
                        <div class="item-img">
                            <img class="work-images" src="\styles/image/work-5.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info full-width vertical-center">
                                    <h6>LIVE Series Speaker Event</h6>
                                    <p class="work-inner-margin">Volunteered for a series of LIVE (Leadership, Innovation, Vision, and Entrepreneurship) events to connect MBA students with industry leaders for professional skills development</p>
                                </div>
                                <a href="\styles/image/work-5.jpg" class="popimg">
                                    <i class="fas fa-images"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-md-6 col-lg-4 items web">
                        <div class="item-img">
                            <img class="work-images" src="\styles/image/work-6.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info full-width vertical-center">
                                    <h6>Special Olympics</h6>
                                    <p class="work-inner-margin">Volunteered as a coach/mentor to various Special Olympic athletes</p>
                                </div>
                                <a href="\styles/image/work-6.jpg" class="popimg">
                                    <i class="fas fa-images"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="clear-fix"></div>

                </div>

            </div>
        </div>
        <div class="se-tring se-tring-gray">
            <span class="left"></span>
            <span class="right"></span>
        </div>
    </section>

    <!-- End Portfolio ====
            ======================================= -->




    <!-- =====================================
            ==== Start Contact -->

    <section class="contact section-padding bg-gray" data-scroll-index="4">
        <div class="container">
            <div class="row">

                <div class="section-head text-center col-sm-12">
                    <h4>Let's Connect and Grab a Tea!</h4>
                </div>

                <!-- Contact Form -->
                <div class="col-md-12">
                    <form class="form" id="contact-form" method="post" action="contact.php">

                        <div class="messages"></div>

                        <div class="controls">

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input id="form_name" type="text" name="name" placeholder="Name *" required="required"
                                            data-error="Firstname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input id="form_email" type="email" name="email" placeholder="Email *" required="required"
                                            data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input id="form_subject" type="text" name="subject" placeholder="LinkedIn URL">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea id="form_message" name="message" placeholder="Your Message *" rows="4"
                                            required="required" data-error="Your message is required."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <button type="submit" class="butn butn-bg"><span>Send Message</span></button>
                                    <div class="info">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>

    <!-- End Contact ====
            ======================================= -->


    <!-- =====================================
            ==== Start Footer -->

    <footer class="text-center">
        <div class="container">


            <p>&copy; 2018 Created By Derrick Hwang</p>

        </div>
    </footer>


    <!-- jQuery -->
    <script src="\js/jquery-3.0.0.min.js"></script>
    <script src="\js/jquery-migrate-3.0.0.min.js"></script>

    <!-- popper.min -->
    <script src="\js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="\js/bootstrap.min.js"></script>

    <!-- scrollIt -->
    <script src="\js/scrollIt.min.js"></script>

    <!-- owl carousel -->
    <script src="\js/owl.carousel.min.js"></script>

    <!-- animated.headline -->
    <script src="\js/animated.headline.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="\js/jquery.magnific-popup.min.js"></script>

    <!-- stellar js -->
    <script src="\js/jquery.stellar.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="\js/isotope.pkgd.min.js"></script>

    <!-- validator js -->
    <script src="\js/validator.js"></script>

    <script src="\app.js"></script>
</body>

</html>