/* ----------------------------------------------------------------
      Start Buttons 
-----------------------------------------------------------------*/
.butn {
    padding: 10px 30px;
    border: 1px solid #eee;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    margin: 30px 2px 0;
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
  .butn:after {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 100%;
    z-index: 1;
    background: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .butn:hover {
    border-color: #fff;
  }
  .butn:hover:after {
    width: 100%;
    left: 0;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
  }
  .butn:hover span {
    color: #1c1c1c;
  }
  .butn span {
    position: relative;
    z-index: 2;
  }
  
  .butn-bg {
    background: #1c1c1c;
    border-color: #1c1c1c;
    color: #fff;
  }
  
  .butn-bord:after {
    background: #1c1c1c;
  }
  .butn-bord:hover {
    border-color: #1c1c1c;
  }
  .butn-bord:hover span {
    color: #fff;
  }
  
  /* ----------------------------------------------------------------
        End Buttons 
  -----------------------------------------------------------------*/


  
  /* ----------------------------------------------------------------
        Start Navbar 
  -----------------------------------------------------------------*/
  .navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 9;
    min-height: 80px;
  }
  .navbar .icon-bar {
    color: #fff;
  }
  .navbar .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 600;
    color: #eee;
    letter-spacing: .5px;
    margin: 15px 5px;
    -webkit-transition: all .5s;
    transition: all .5s;
    position: relative;
  }
  .navbar .navbar-nav .nav-link:after {
    content: '';
    width: 80%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 10%;
    bottom: -10px;
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .navbar .navbar-nav .active:after {
    bottom: 0;
    opacity: 1;
  }
  
  .nav-scroll {
    background: #fff;
    border-bottom: 1px solid rgba(12, 12, 12, 0.04);
    padding: 0;
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  .nav-scroll .icon-bar {
    color: #222;
  }
  .nav-scroll .navbar-nav .nav-link {
    color: #222;
  }
  .nav-scroll .navbar-nav .nav-link:after {
    background: #222;
  }
  .nav-scroll .logo {
    padding: 15px 0;
    color: #111;
  }
  .nav-scroll .logo:hover {
    color: #111;
  }
  
  .logo {
    padding: 15px 0;
    width: 100px;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
  }
  .logo:hover {
    color: #fff;
  }
  
  /* ----------------------------------------------------------------
        End Navbar 
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
        Start Header 
  -----------------------------------------------------------------*/
  .header {
    min-height: 105vh;
    overflow: hidden;
    position: relative;
  }
  .header .caption .o-hidden {
    display: inline-block;
  }
  .header .caption h1 {
    font-size: 55px;
    font-weight: 800;
  }
  .header .arrow {
    position: absolute;
    bottom: 8vh;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 4;
  }
  .header .arrow img {
    width: 40px;
    cursor: pointer;
  }
  .header .svg {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    z-index: 3;
  }
  .header .svg svg {
    fill: #fff;
    width: 101%;
  }

  .list-social{
    letter-spacing: 1rem;
  }
  
  /* ----------------------------------------------------------------
        End Header 
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
        06 Start Hero 
  -----------------------------------------------------------------*/
  .hero .content {
    padding-left: 50px;
  }
  .hero .content h4 {
    margin-bottom: 10px;
  }
  .hero .content span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  .hero .content p {
    margin-bottom: 10px;
  }
  .hero .content p:last-child {
    margin-bottom: 0;
  }
  .hero .skills .skill-item {
    margin-bottom: 30px;
  }
  .hero .skills .skill-item:last-child {
    margin-bottom: 0;
  }
  .hero .skills h6 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  .hero .skills h6 span {
    margin-bottom: 0;
    float: right;
    font-size: 10px;
  }
  .hero .skills .skills-progress {
    height: 3px;
    width: 100%;
    background: #f7f7f7;
    border-radius: 10px;
    position: relative;
  }
  .hero .skills .skills-progress span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #000;
    border-radius: 10px;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  
  /* ----------------------------------------------------------------
        End Hero 
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
        07 Start Services 
  -----------------------------------------------------------------*/
  .services .item {
    text-align: center;
    padding: 30px 10px;
  }
  .services .item .icon {
    font-size: 40px;
    margin-bottom: 25px;
  }
  .services .item h6 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .services .item p {
    font-weight: 500;
  }
  
  /* ----------------------------------------------------------------
       End Services 
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
        08 Start Portfolio 
  -----------------------------------------------------------------*/
  .portfolio {
    overflow: hidden;
  }
  .portfolio .filtering span {
    padding: 9px 25px;
    margin: 0 5px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px dashed #555;
    cursor: pointer;
  }
  .portfolio .filtering .active {
    background: #1c1c1c;
    color: #fff;
    -webkit-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.2);
  }
  .portfolio .items {
    margin-top: 30px;
  }
  .portfolio .item-img {
    position: relative;
    overflow: hidden;
  }
  .portfolio .item-img:hover .item-img-overlay {
    opacity: 1;
  }
  .portfolio .item-img:hover h6, .portfolio .item-img:hover p {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .portfolio .item-img h6 {
    font-weight: 600;
    position: relative;
    margin-bottom: 5px;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .portfolio .item-img p {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .portfolio .item-img .item-img-overlay {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: white;
    color: #35424C;
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 2;
  }
  .portfolio .item-img a {
    font-size: 30px;
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
  
  /* ----------------------------------------------------------------
        End Portfolio
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
        Start Blog 
  -----------------------------------------------------------------*/
  .blog .item .post-img {
    margin-bottom: 30px;
    overflow: hidden;
  }
  .blog .item .post-img:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .blog .item .post-img img {
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .blog .item span {
    font-size: 11px;
    font-weight: 500;
    color: #777;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .blog .item span:last-child {
    margin-right: 0;
  }
  .blog .item h5 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .blog .item .more {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #444;
    position: relative;
  }
  .blog .item .more:hover {
    color: #000;
  }
  .blog .item .more:hover i {
    right: -15px;
  }
  .blog .item .more i {
    position: absolute;
    right: -10px;
    top: 3px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  /* ----------------------------------------------------------------
        End Blog 
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
        Start Contact 
  -----------------------------------------------------------------*/
  .contact .form input, .contact .form textarea {
    width: 100%;
    padding: 10px;
    border: 0;
    background: white;
    border-radius: 5px;
  }
  .contact .form textarea {
    height: 160px;
    max-height: 160px;
    max-width: 100%;
  }
  .contact .form .info {
    float: left;
    margin-top: 10px;
  }
  .contact .form .info span {
    color: #444;
    font-size: 12px;
    font-weight: 500;
    margin-right: 30px;
  }
  .contact .form .info span:last-child {
    margin-right: 0;
  }
  .contact .form .butn {
    float: right;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
  }
  .contact .form .butn:hover {
    border-color: #000;
  }
  .contact .form .form-group {
    position: relative;
  }
  .contact .form .help-block li {
    color: #ce7373;
    font-size: 11px;
    font-weight: 500;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  /* ----------------------------------------------------------------
        End Contact 
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
        Start Footer 
  -----------------------------------------------------------------*/
  footer {
    background: #111;
    padding: 80px 0;
  }
  footer .social a {
    color: #777;
    font-size: 18px;
    margin: 15px 15px;
  }
  footer p {
    color: #999;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  /* ----------------------------------------------------------------
        End Footer 
  -----------------------------------------------------------------*/