    <!-- =====================================
            ==== Start Footer -->

            <footer class="text-center">
                <div class="container">
        
                    <!-- Logo -->
                    <a class="logo" href="#">
                        D.Hwang
                    </a>
        
                    <div class="social">
                        <a href="#0"><i class="fab fa-twitter"></i></a>
                        <a href="#0"><i class="fab fa-linkedin"></i></a>
                    </div>
        
                    <p>&copy; 2018 Derrick Hwang</p>
        
                </div>
            </footer>
        
        
            <!-- jQuery -->
            <script src="\js/jquery-3.0.0.min.js"></script>
            <script src="\js/jquery-migrate-3.0.0.min.js"></script>
        
            <!-- popper.min -->
            <script src="\js/popper.min.js"></script>
            <!-- bootstrap -->
            <script src="\js/bootstrap.min.js"></script>
        
            <!-- scrollIt -->
            <script src="\js/scrollIt.min.js"></script>
        
            <!-- owl carousel -->
            <script src="\js/owl.carousel.min.js"></script>
        
            <!-- animated.headline -->
            <script src="\js/animated.headline.js"></script>
        
            <!-- jquery.magnific-popup js -->
            <script src="\js/jquery.magnific-popup.min.js"></script>
        
            <!-- stellar js -->
            <script src="\js/jquery.stellar.min.js"></script>
        
            <!-- isotope.pkgd.min js -->
            <script src="\js/isotope.pkgd.min.js"></script>
        
            <!-- validator js -->
            <script src="\js/validator.js"></script>
        
            <script src="\app.js"></script>